<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">        
        <h2>{{item.descricao}}</h2>
        <p>{{item.categoria.descricao}}</p>
        <ion-note item-end *ngIf="item.tipoTransacao == 'credito'" color="primary">{{item.valor | currency : "BRL":true }}</ion-note>
        <ion-note item-end *ngIf="item.tipoTransacao == 'debito'" color="danger">{{item.valor | currency : "BRL":true }}</ion-note>
      </button> 
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item>
  </ion-list>
</ion-content>